/* Darkmode */
*{
    transition: background 125ms ease, color 125ms ease;
}
.darkmode, .darkmode li > .collapsible-header:focus, .darkmode .dropdown-content li:hover, .darkmode .collapsible-header:focus
{
    transition: background 250ms ease;
    background-color: #0a0a0a;
    color: white;
}
.darkmode > .sidenav,
body.darkmode .collection .collection .collapsible .darkmode li > .collapsible-header, .darkmode .dropdown-content, .darkmode .modal, .darkmode .modal .modal-footer,
.darkmode input, .darkmode select, .darkmode .collection-item, .darkmode .collapsible-header, .darkmode .collapsible-body, .darkmode .collapsible, .darkmode .card, .darkmode .card .card-image .cardcontent .card-action .card-reveal,
.darkmode .card-reveal
{
    border-color: #4a4a4a;
    background-color: #1a1a1a;
    color: white;
}
.darkmode .collapsible .collapsible-body .collection .collection-item
{
    border-color: #4a4a4a;
    background-color: #111111;
    color: white;
}
.darkmode .active > .collapsible-header
{
    border-color: #686868;
    background-color: #111111;
}
.card
{
    transition: width 125ms ease;
}
.card .card-image img
{
    transition: transform 125ms cubic-bezier(0.58, 1.65, 0.8, 1.01), background-color 250ms linear, border-radius 125ms cubic-bezier(0.58, 1.65, 0, 0.76), opacity 125ms linear;
    border-radius: 0px;
    transform: scale(1);
}

.sidenav-footer
{
    
    position: absolute;
    width: 100%;
    bottom: 4em;
    padding: 1em;
}


#log_input
{
    height: 25em;
    overflow-y: scroll;
}

#side_nav_trigger
{
    display: block;
}

.user-view > .background
{
    transition: opacity 125ms linear;
    background-color: #333;
    background-image: url("../imgs/waves.jpg");
    background-size: 100% auto;
    background-position: 0 90%;
}